
 :root{
    --color--boutton: #b90d0d;
    --color--principal: #090908;
    --color--header: #b9b7b8;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.corpscache{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
    margin: 1em;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    background-color:var(--color--principal);

}

header p{
    color: var(--color--header);
    margin-left: 10px;
}

header img{
    width: 100px;
    height: 100px;
    border-radius: 10em;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: center;
}
header nav ul li a {
    text-decoration: none;
    color: var(--color--header);
    font-size: 18px;
    

}

header ul li{
    & :hover {
        color: var(--color--boutton);
    }
    
}
header button{
    padding: 10px 20px;
    background-color: var(--color--boutton);
    color: var(--color--header);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 400ms  100ms ease-in-out;

    &:hover {
        background-color: darkred;
    }
}

/* Style pour les media le main */

main #service img {
 width: 100px;
 height: 100px;
}

#service {
 display: flex;
 align-items: center;
 gap: 2em;
 flex-wrap: wrap;
 justify-content: center;
 margin: 0.5em;
}

main h1 {
 font-size: 24px;
 color: var(--color--principal);
 text-align: center;
 margin-top: 1em;
 padding: 1em;
}

#service .location-voiture,.Achat-voiture,.entretien-voiture {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 0.5em;
 border:  1px solid gray;
 border-radius: 1em;
 width: 250px;
 height: 25em;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
 & h2 {
     font-size: 18px;
     color: var(--color--principal);
     text-align: center;
 }
 & p{
    border-top: 1px solid gray;
    padding: 1em;
 }

 & button{
    text-decoration: none;
    border: 1px solid gray;
    padding: 0.9em;
    border-radius: 1em;
    color: var(--color--boutton);
    background-color: var(--color--header);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transition: all 400ms ease-in-out;
    transform: scale(1);
    &:hover{
        transform: scale(1.1);
    }
}
}
.hero{
    margin:3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    



    & p{
        font-size: 1.2em;
    }
}
.hero h1{
    color: var(--color--boutton);
    margin-bottom: 1em;
    font-size: 2em;

}
/* Style de la partie A propos*/

#a-propos{
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    
    & ul{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
}

#contact{
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;

    & div {
        display: flex;
        gap: 1em;
    }

}

.fa-whatsapp{
    color: #25D366;
    cursor: pointer;
}
.fa-facebook{
    color: #1877F2;
    cursor: pointer;
}

.fa-instagram{
    color: #f56040;
    cursor: pointer;

}

footer p {
    font-size: 0.8em;
}


/* partie prendre un rendez vous */
.rendez-vous form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    width: 25em;
    padding: 3em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    & p{
        font-size: 1.5em;
    }
    
    & .date{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        justify-content: center;
        align-items: center;
    }
    & .pourquoi{
         display: flex;
        flex-direction: column;
        gap: 0.5em;
        justify-content: center;
        align-items: center;
    }

    & input[type="text"], input[type='email'] ,input[type="date"], select {
        width: 20em;
        height: 2em;
        border-radius: 0.5em;
        border: 1px solid gray;
        font-size: 1em;
         
    }
    & input[type="submit"]{
        padding: 0.5em;
        font-size: 1em;
        border-radius: 0.7em;
        border: 1px solid gray;
        background-color: var(--color--header);
        color: var();
    }


  
}



.rendez-vous{
    display :none;
}

.styleSais{
    display: flex;
}
